body {
  padding: 0;
  margin: 0;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  background: linear-gradient(rgba(255, 255, 255, 0.733), rgba(211, 211, 211, 0.822)), url(https://s1.ax1x.com/2020/07/10/UKVAPI.jpg) no-repeat;
  background-size: cover;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}


.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.box-card {
  width: 480px;
  margin: 5px;
}

#start {
  width: 100%;
  transition: .25s all;
}


#poster {
  border-radius: 3px;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  font-size: 1.2em;
}

@media screen and (max-width: 600px) {
  .el-dialog {
    width: 95vw !important;
  }
}